@import url('./css/bodyTest.css');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style : none;
}
.nav_size{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 0.1px solid #e4f4ec;
    z-index: 20;
    position: fixed;
}
.navbar{
    width: 1060px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    border-bottom: 0.1px solid #e4f4ec;
}
.main{
    justify-content: center;
    align-items: center;
    display: flex;
}
.main img{
    width: 17px;
    height: 14px;
    margin-right: 10px;
    margin-top: 7px;
}
.main a img{
    width: 90px;
    height: 25px;
}
.main p{
    font-size: 21px;
    align-items: center;
}
.nav_menu{
    font-size: 14px;
    padding: 0px;
    display: flex;
}
.nav_menu a{
    display: inline-block;
    padding: 15px;
    color: #333333;
}
.nav_menu a:hover{
    border-bottom: 1.5px solid gray;
}
.nav_service ul{
    align-items: center;
    padding: 0px 10px;
}
.nav_service li{
    display: inline-block;
    width: auto;
}
#service a{
    padding: 5px 10px;
}
.nav_service button{
    padding : 0px 5px;
    border: none;
    background-color: white;
    cursor:pointer
}

#join{
    font-size: 14px;
    padding: 0px 3px;
}
#service a{
    color: gray;
    align-items: center;
    display: center;
    justify-self: center;
    font-size: 13px;
    border :0.5px solid gray;
    line-height: 30px;
    border-radius: 15px;
}
#nothing{
    color: gray;
    font-size: 3px;
    margin : 0px 15px 0px 15px;
}

/* ================================================================= */
/* 센터 */

.for_sticy{
    display: flex;
    justify-content: center;
    padding: 80px 0px 80px;
}

.big_pha{
    width: 700px;
}
.big_pha_img_set img{
    width: 700px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}
.big_pha_img_set{
    display: flex;
    overflow: hidden;
    width: 700px;
    height: 490px;
    align-items: center;
}
.big_pha_second{
    margin: 40px 0px 30px;
}
#big_pha_title1{
    font-size: 22px;
    margin: 0px 0px 10px;
}
.big_pha_second_mini{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.big_pha_second_mini li{
    display: flex;
    align-items: center;
}

.big_pha_second_mini a{
    width: 48.41px;
    height: 19.59px;
    font-size: 14px;
}
.big_pha_second_mini span{
    font-size: 10px;
    color: #855AF0;
    border: 0.5px solid #855AF0;
    padding: 1px 5px;
    margin: 0px 5px;
}
#mini_mini span{
    border : white;
    color: #999999;
    font-size: 14px;
}
#mini_mini_mini span{
    border : white;
    color: #999999;
    font-size: 4px;
}

/* 해시태크 버튼아이콘 */

.big_pha_hashtag{
    display: block;
    margin-top: 20px;
}
.big_pha_hashtag button{
    font-family: 'Pretendard-Regular';
    border: white;
    border-radius: 15px;
    margin: 0px 6px 10px 0px;
    padding: 9px 14px;
    width: auto;
    height: 30px;
    display: inline-block;
}
.big_pha_hashtag button:hover{
    cursor: pointer;
}
.big_pha_hashtag button span{
    font-size: 12px;
    display: flex;
    align-items: center;
}


/* =================================================================
버튼 해쉬태그 끝 */
.big_pha_article_1{
    font-size: 16px;
    color: #333333;
}
h6{
    font-size: 16px;
    margin: 20px 0px 0px;
}
.big_pha_needed_skill{
    display: block;
    margin: 5px 0px 60px 0px;
}
.big_pha_needed_skill div{
    display: inline-block;
    background-color: #e4f4ec;
    padding: 9px 14px;
    color: #333333;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
    border-radius: 15px;
}
.big_pha_address{
    display: block;

}
.big_pha_address div{
    margin-bottom: 20px;
    display: block;
}
#span_header{
    font-size: 16px;
    color: #999999;
    font-family: 'Pretendard-Regular';
    display: inline-block;
    width: 80px;
}
#span_body{
    font-family: 'Pretendard-Regular';
    display: inline-block;
}

/* ===========================주소 끝 */
.blue_bic{
    display: flex;
    flex-direction: column;
}
.blue_bic h5{
    margin: 0px 0px 5px 0px;
    padding: 0px 10px 0px 0px;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
}
.blue_bic h6{
    margin: 0px;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
    color: #999999;
    padding-right: 10px;
}
.blue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
    border: 0.1px solid #dbdbdb;
    border-radius: 3px;
}
.blue_right{
    display: flex;
    align-items: center;
}
.blue_right img{
    margin-right:15px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.blue button{
    height: 40px;
    border: 0.1px solid #dbdbdb;
    padding: 0px 27px;
    background-color: #FFFFFF;
    border-radius: 23px;
}
.blue button:hover{
    cursor: pointer;
}
.blue button span{
    font-size: 15px;
    font-family: 'Pretendard-Regular';
    color: #36f;
}

/* ===================================== */
.size_of_last{
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
    margin-top: 8px;
}
.readed_file{
    display: flex;
    width: 616px;
    justify-content: space-between;
}
.readed_file p{
    font-size: 12px;
    font-family: 'Pretendard-Regular';
    margin: 0px 20px;
}
.readed_file button{
    width: 14px;
    height: 20px;
    border : #f0f0f0;
}
.readed_file button:hover{
    cursor: pointer;
}

/* big_pha 끝 =================================================================== */

/* 우측 스티키 */
.position_sticky{
    height: 400px;
    overflow: auto;
    position: sticky;
    top: 70px;
}
.move_box{
    border-radius: 15px;
    width: auto;
    height: 264px;
    padding: 24px 20px;
    border: 0.1px solid #e4f4ec;
    margin: 20px;
}
.move_box_first{
    display: flex;
    justify-content: space-between;
    width: 298px;
    height: 16.5px;
}
.move_box_first p{
    margin: 0px;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
}
.move_box_first button{
    border: 0.1px solid #e4f4ec;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: white;
}
.move_box_val ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.move_box_val li{
    display: flex;
    flex-direction: column;
    width: 149px;
}
.move_box_val h4{
    margin-bottom: 8px;
    color: #999999;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
}
.move_box_val p{
    margin: 0px;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
}
.move_box_btst{
    display: flex;
    flex-direction: column;
}
#bt1:hover{
    cursor: pointer;
}
#bt2:hover{
    cursor: pointer;
}
#bt1{
    display: flex;
    justify-content: center;
    width: 298px;
    height: 50px;
    border: 0.1px solid blue;
    background-color: white;
    border-radius: 40px;
    align-items: center;
    margin: 20px 0px 10px 0px;
    padding: 1px 6px;
}
#bt2{
    display: flex;
    justify-content: center;
    width: 298px;
    height: 50px;
    background-color: #3366ff;
    border: white;
    border-radius: 40px;
    align-items: center;
}
#bt1 span{
    color: blue;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
}
#bt2 span{
    color: white;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
}
.move_box_snslog{
    display: flex;
    align-items: center;
    margin: 24px 0px 0px;
    width: 298px;
    height: 30px;
}
.move_box_snslog button{
    border: 0.1px solid #e4f4ec;
    border-radius: 15px;
    margin-right: 12px;
    padding: 0px 15px;
    background-color: white;
    width: 67px;
    height: 30px;
}
.move_box_snslog button:hover{
    cursor: pointer;
}
.move_box_snslog span{
    font-size: 14px;
    font-family: 'Pretendard-Regular';
}
.fixed_movebox{ 
    display: flex;
}


/* ==================================================================================== */
/* footer from 1weeks */
footer{
    width: 1060px;
    margin: auto;
    padding: 18px 0px 65px;
}

.last_div1{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.last_list{
    display: flex;
    padding: 0px;
    width: 790px;
    height: 39px;
    align-items: center;
}
.last_list li{
    margin-right: 45px;
    font-size: 15px;
}

.sns_link{
    width: 270px;
    height: 39px;
    display: flex;
    padding: 0px;
    justify-content: right;
}

.sns_link li{
    margin-left: 14px;
    color: gray;
    width: 20px;
    height: 20px;
}
.last_div2{
    width: 1060px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 25px 0px 0px;
}

#minipic{
    width: 20px;
    height: 20px;
}

.address{
    font-size: 12px;
    margin-right: 40px;
    color: #767676;
}

.lang_select{
    height: 40px;
    width: 200px;
    padding: 0px 45px;
    background-color: #f2f4f7;
    border: none;
}

.last_div2 div{
    height: 40px;
    background-color: #f2f4f7;
}
/* ========================================================================
이미지 뉴스 */
.center_for_imgnews{
    display: flex;
    justify-content: center;
}
.find_this_position{
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin-top: 80px;
}
.find_this_position h5{
    font-size: 20px;
    font-family: 'Pretendard-Regular';
    margin: 0px 0px 20px;
    width: 1060px;
}
.img_news_info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.img_news_info:hover{
    cursor: pointer;
}
.img_news_info div{
    display: flex;
    flex-direction: column;
}
.img_news_padding{
    padding: 14px 0px;
}
.img_news_info img{
    width: 250px;
    height: 187.5px;
    object-fit: cover;
    border-radius: 5px;
}

#img_news_first{
    font-size: 18px;
    font-family: 'Pretendard-Regular';
}
#img_news_second{
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
}
#img_news_third{
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    color: #999999;
}
#img_news_4th{
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
}

.img_new_flex{
    display: flex;
    justify-content: center;
}
.img_new_flex2{
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

/* ============================================================== */
/*              모달창                   */
.modal_flex{
    flex-direction: column;
    border: 1px solid #e4f4ec;
    width: 400px;
    margin: auto;
    display: flex;
    background-color: white;
}
.modal_top_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    padding: 16px 20px;
}


.modal_top_img img{
    width: 70px;
    height: 16px;
}
.modal_all_flex{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
}

.modal_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 144.6px;
    margin: 24px 0px 40px;
    text-align: center;
}
.modal_header h1{
    font-size: 26px;
    font-weight: 300;
    width: 360px;
    height: 80.06px;
}
.modal_header h2{
    font-size: 16px;
    width: 360px;
    height: 48px;
    font-weight: 100;
    margin: 16px 0px 0px;
    color: #666666;
}
/* ====================header============ */
.modal_email{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 101px;
    padding: 0px 0px 14px;
}
.modal_email label{
    font-size: 14px;
    color: #767676;
    margin: 0px 0px 8px;
}
.modal_email input{
    height: 50px;
    padding: 1px 15px;
    border : 1px solid #e4f4ec;
    border-radius: 3px;
    font-family: 'Pretendard-Regular';
}
/* 이메일끝 */
/* 버튼 */
.modal_bt_style button{
    width: 360px;
    height: 50px;
    background-color: #3366ff;
    border: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-family: 'Pretendard-Regular';
}
.modal_bt_style{
    font-size: 14px;
    color: #767676;
}
#modal_or{
    margin: 13px 0px;
    text-align: center;
}
#modal_next{
    margin: 0px 0px 17px;
    text-align: center;
}







/* =====================sns========================== */
.modal_bt_flex div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_bt_flex1 button{
    width: 56px;
    height: 56px;
    margin: 0px 17px 8px;
    border: white;
    border-radius: 100%;
}
.modal_bt_flex1 button:nth-child(1){
    background-color:#fee500;
}
.modal_bt_flex1 button:nth-child(2){
    background-color:#1877f2;
}
.modal_bt_flex1 button:nth-child(3){
    background-color:#ffffff;
    border: 0.1px solid #e4f4ec;
}
.modal_bt_flex1 button:nth-child(4){
    background-color:#000000;
}
.modal_bt_flex2 button{
    width: 60px;
    height: 18px;
    margin: 0px 17px 8px;
    border: white;
    background-color: white;
    color: #666666;
    font-size: 13px;
}
.modal_bt_flex2 button:nth-child(1){
    margin-right: 2px;
}
.modal_bt_flex2 button:nth-child(2){
    margin-left: 22px;
}
.modal_bt_flex1 button:hover{
    cursor: pointer;
    filter: brightness(0.5);
}
.modal_bt_flex2 button:hover{
    filter: brightness(0.9);
}

.modal_footer p{
    color: #999999;
    font-size: 12px;
    margin: 26px 0px 0px;
    font-family: 'Pretendard-Regular';
}
.modal_footer p a{
    color: #3366ff;
}
.modal_footer p a:hover{
    cursor: pointer;
}

.modal_center{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    display: none;
    z-index: 40;    
}
.modal_flex{
    /* flex-direction: column; */
    border: 1px solid #e4f4ec;
    width: 400px;
    margin: auto;
    /* display: flex; */
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)  translateY(-50%);
    z-index: 50;
}

.black{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 30;
    overflow: hidden;
}
/* =============================================
modal_second */











.loading{
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color : #ffffff;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
