.LogoutModal {
  margin-top: 15px;
  padding: 14px 0px 0px;
  width: 207px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}
#margintopmodal {
  margin-top: 15px;
}
.LogoutModal li {
  width: 192px;
  height: 30px;
  font-size: 14px;
  font-family: "pretendard-regular";
  padding: 5px;
  margin: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.LogoutModal li:hover {
  background-color: #ececec;
  border-radius: 6px;
}
.mnThing {
  position: fixed;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  height: 14px;
  width: 14px;
  border-top-right-radius: 30%;
  -webkit-transform: rotate(-55deg) skewX(-20deg);
  transform: translateX(240%) translateY(55%) rotate(-55deg) skewX(-20deg);
}
.graycolor {
  background-color: #ececec;
  height: 50px;
}
#LogoutModalLine {
  display: block;
  margin: 9px 7px;
  height: 0.5px;
  background-color: #ececec;
  padding: 0.5px;
}
#bell {
  transform: translateY(-8%);
  margin: 0px 12px 2px 12px;
  font-size: 20px;
}
#profile {
  color: #ececec;
  font-size: 30px;
}
.nav_service_nothing {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#searchIcon {
  font-size: 18px;
  margin-right: 5px;
}
